.dependency-page {
    width: 80%;
    margin-top: 20px;
    display: flex;
}

.dependency-page>.col-md-6:last-child {
    border-left: 1px solid #2C2C2C;
    padding: 0 20px;
}


ol li {
    padding: 10px;
    border-bottom: 1px solid #2C2C2C;
}

@media(max-width: 767px) {
    .dependency-page {
        display: block;
    }

    .dependency-page>.col-md-6:last-child {
        margin-top: 30px;
        border-top: 1px solid #2C2C2C;
        border-left: none;
        padding: 20px 0 0;
    }
}